@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  scroll-behavior: smooth;
  font-family: "Montserrat", Arial, sans-serif;
}
* {
  cursor: none !important;
}

::selection {
  cursor: none !important;
}

::-moz-selection {
  cursor: none !important;
}

input,
textarea,
button,
a,
select,
[role="button"] {
  cursor: none !important;
}

.serif {
  font-family: "Crimson Text", serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 98%; /* Light background */
    --foreground: 0 0% 20%; /* Dark text */
    --muted: 0 0% 90%; /* Soft muted tones */
    --muted-foreground: 0 0% 40%; /* Muted text */
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 20%;
    --card: 0 0% 98%; /* Light card background */
    --card-foreground: 0 0% 20%; /* Dark card text */
    --border: 0 0% 90%; /* Light borders */
    --input: 0 0% 90%; /* Input field background */
    --primary: 340 100% 75%; /* Pink tones */
    --primary-foreground: 0 0% 100%; /* White text */
    --secondary: 40 100% 70%; /* Yellow tones */
    --secondary-foreground: 0 0% 100%; /* White text */
    --accent: 200 100% 80%; /* Soft blue */
    --accent-foreground: 200 100% 30%; /* Blue text */
    --destructive: 0 85% 55%; /* Red for warnings */
    --destructive-foreground: 0 0% 100%; /* White text */
    --ring: 340 100% 85%; /* Pink ring for focus */
    --chart-1: 340 100% 85%; /* Chart color 1 */
    --chart-2: 40 100% 80%; /* Chart color 2 */
    --chart-3: 200 100% 85%; /* Chart color 3 */
    --chart-4: 40 100% 90%; /* Chart color 4 */
    --chart-5: 340 100% 85%; /* Chart color 5 */
    --radius: 1.1rem; /* Border radius */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground selection:bg-primary selection:text-primary-foreground;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--accent) / 0.6);
  border-radius: 3px;
}

pre,
code {
  font-family: "Jetbrains Mono", monospace;
}
